<div class="d-flex mx-5">
    <input type="text" placeholder="search..." class="form-control searchInput border-0 border-bottom">
    <button class="bg-dark text-white p-2 mx-4"  data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i> Add New Course</button>
</div>

<div>
    <h1 class="text-center mt-3">Courses</h1>
    <div class="mx-5 mt-4">
        <table class="table text-center">
            <tr>
                <th>S/N</th>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Course Unit</th>
                <th></th>
            </tr>
            <tr *ngFor="let course of courses; let i = index">
              <td>{{i + 1 }}</td>
              <td>{{course.coursecode}}</td>
              <td>{{course.coursetitle}}</td>
              <td> {{course.courseunit}} </td>
              <button>Delete</button>
            </tr>
        </table>
        <div class="d-flex align-items-center" *ngIf="courses.length < 1">
          <strong>Loading...</strong>
          <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
    </div>
</div>


<!-- Courses Modal -->
<div class="modal fade animate__animated animate__bounceIn" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Course Name:</label>
            <input type="text" [(ngModel)]="coursetitle" name="coursetitle" placeholder="course title..." class="form-control" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Course Title:</label>
            <input type="text" [(ngModel)]="coursecode" name="coursecode" placeholder="course code..." class="form-control" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Course Unit:</label>
            <input type="text" [(ngModel)]="courseunit" name="courseunit" placeholder="course unit..." class="form-control" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)='addCourse()'>Add Course</button>
      </div>
    </div>
  </div>
</div>
<!-- Courses Modal -->