<div style="overflow-x: hidden;">
  <div class="row">
    <div class="col-2 sideNav">
      <ul>
        <li><i class=""></i> Welcome...</li>
        <li (click)='showHomee()'><i class="fa fa-book pl-3 pr-3 p-3"></i> Home</li>
        <li (click)='showCourse()'><i class="fa fa-book pl-3 pr-3 p-3"></i> Courses</li>
        <li (click)='showExam()'><i class="fa fa-list pl-3 pr-3 p-3"></i>Examinations</li>
        <li><i class="fa fa-plus pl-3 pr-3 p-3"></i> Projects</li>
        <li><i class="fa fa-plus pl-3 pr-3 p-3"></i> Assignments</li>
        <li><i class="fa fa-plus pl-3 pr-3 p-3"></i> Documents</li>
        <li><i class="fa fa-list pl-3 pr-3 p-3"></i>More...</li>
      </ul>
    </div>
    <div class="col-10">
      <!-- <h1>Welcome {{staffDetails.email}} </h1> -->
        <!-- component -->
        <div class="container" *ngIf="showHome">
          <div class="height-100 row d-flex justify-content-center shadow align-items-center">
              <div class="col-md-12">
                  <div class="p-3 bg-white rounded">
                      <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                              <div class="position-relative"> <img src="https://i.imgur.com/EnANUqj.jpg" width="80" class="rounded-circle"> <span class="position-absolute dots"></span> </div>
                              <div class="ml-2">
                                  <h5 class="mb-0">Name: {{staffDetails.name}}</h5> <span>Email: {{staffDetails.email}}</span>
                                  <div class="d-flex flex-row"> <span class="mr-3">id : {{staffDetails._id}}</span> <span class="mr-3">42.9 followers</span> <span>930 following</span> </div>
                              </div>
                          </div>
                          <div class="mt-2"> <span class="box-ellipse"><i class="fa fa-ellipsis-h"></i></span> <span class="box-pensil"><i class="fa fa-pencil" aria-hidden="true"></i></span> </div>
                          <div> </div>
                      </div>
                      <div class="mt-3 mb-3">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dolorem totam, ad officia nostrum, deleniti ipsa libero commodi minima, nobis ut nisi corrupti eveniet laborum facere praesentium illum eligendi. Commodi.
                      </div>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam expedita cupiditate dolores facilis adipisci aut voluptate reprehenderit culpa illum quae molestias, quos aspernatur doloremque ea id quibusdam amet est sapiente.
                  </div>
              </div>
          </div>
      </div>
      <div *ngIf="showCourses">
        Courses Allocated
        <div class="d-flex align-items-center" *ngIf="staffDetails.courses.length < 1">
          <strong>Loading...</strong>
          <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
        <table class="table table-stripped text-center">
          <thead>
            <tr>
              <th>S/N</th>
              <th>Course Title</th>
              <th>Course Code</th>
              <th>Course Unit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of staffcourse, let i = index">
              <td> {{i + 1}} </td>
              <td scope="row"> {{item.coursetitle}} </td>
              <td> {{item.coursecode}} </td>
              <td> {{item.courseunit}} </td>
            </tr>
          </tbody>
        </table>
        <!-- <div>
          
        </div> -->
      </div>
      <div *ngIf="showExams">
        Examninations
      </div>
    </div>
  </div>
</div>