<div class="d-flex mx-5">
    <input type="text" placeholder="search..." class="form-control searchInput border-0 border-bottom">
    <button class="bg-dark text-white p-2 mx-4"  data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i> Add New Instructor</button>
</div>

<div>
    <h1 class="text-center mt-3">Courses</h1>
    <div class="mx-5 mt-4">
        <table class="table table-stripped text-center">
            <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Email</th>
                <th>Courses</th>
                <th></th>
            </tr>
            <tr *ngFor="let inst of Instructor; let i = index">
              <td>{{i + 1}}</td>
              <td>{{inst.name}}</td>
              <td>{{inst.email}}</td>
              <td>{{inst.courses}}</td>
              <button>Delete</button>
            </tr>
          </table>
          <div class="d-flex align-items-center" *ngIf="Instructor.length < 1">
              <strong>Loading...</strong>
              <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
    </div>
</div>


<!-- Courses Modal -->
<div class="modal fade animate__animated animate__bounceIn" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Instructor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Instructor Name:</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="name" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Instructor Email:</label>
            <input type="text" class="form-control" [(ngModel)]="email" name="email" required>
          </div>
          <label for="message-text" class="col-form-label">Instructor Courses:</label>
          <div class="form-group d-flex" id="newInput">
            <div *ngFor="let course of Courses">
              <input type="checkbox" (click)='newInput(course._id)'>
              <span>{{course.coursecode}}</span>
            </div>
            <!-- <button class="mx-5 bg-dark text-white" (click)='newInput()'><i class="fa fa-plus" aria-hidden="true"></i></button> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)='addInstructor()'>Add Course</button>
      </div>
    </div>
  </div>
</div>
<!-- Courses Modal -->